@import "tailwindcss";

/* Custom styles */
@theme {
  --font-sans: "Inter Variable", system-ui, sans-serif;
  --font-display: "DM Sans Variable", serif;
  --font-mono: "DM Mono", mono;
}

@layer base {
  h1 {
    @apply font-display text-4xl;
  }

  h2 {
    @apply font-display text-xl;
  }
}
