@import url("variables.css");
@import url("typography.css");
@import url("leaflet.css");
@import url("nav.css");

body {
  margin: 0;
  color: var(--black);
}

#map-grid {
  height: calc(100vh - 67.2px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

.map {
  height: 100%;
  width: 100%;
}
