.leaflet-container {
  background-color: var(--bg);
  font-family: "DM Mono", monospace;
}
.leaflet-tooltip {
  background-color: var(--text-color);
  color: var(--bg);
  border-color: var(--text-color);
  opacity: 1;
}
.leaflet-tooltip-left:before {
  border-left-color: var(--text-color);
}
.leaflet-tooltip-right:before {
  border-right-color: var(--text-color);
}
.leaflet-tooltip table {
  border-collapse: collapse;
}

.leaflet-tooltip td {
  padding: 0 0.5em;
}
.leaflet-tooltip tr td:first-child {
  padding-left: 0;
}
