@import url("../../node_modules/@fontsource/dm-mono/index.css");
@import url("../../node_modules/@fontsource/dm-sans/index.css");
@import url("../../node_modules/@fontsource/inter/index.css");
@import url("../../node_modules/@fontsource/material-icons/index.css");

@import url("variables.css");
@import url("typography.css");
@import url("leaflet.css");
@import url("nav.css");

body {
  margin: 0;
  color: var(--text-color);
}

#map-container {
  height: calc(100vh - 67.2px);
}

#map {
  height: 100%;
  width: 100%;
}
