:root {
  --fontsize-base: 0.8em;
  --border-radius: 10px;
  --spacer: 1em;
  --spacer-s: calc(var(--spacer) * 0.5);

  --lightgrey: rgb(240, 240, 240);
  --grey: rgb(200, 200, 200);
  --darkgrey: rgb(75, 75, 75);
  --black: rgb(40, 40, 40);

  --font-mono: "DM Mono", monospace;
  --font-display: "DM Sans", sans-serif;
  --font-sans: "Inter", sans-serif;

  --above-leaflet: 500;

  --text-color: var(--black);
  --secondary: var(--grey);
  --bg: var(--lightgrey);
  --component-bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--lightgrey);
    --secondary: var(--grey);
    --component-bg: var(--darkgrey);
    --bg: var(--black);
  }
}
